@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.3;
    overflow: auto;
}
:root {
    --icon-size: 20px;
    --color-text1: #f9aecf;
    --color-text2: #bad5ea;
    --color-text3: #f7f0e6;
    --color-text4:  #c9ce8c;
    --color-text5:#FDDAC0;
    --color-background3: #c9762a;
    --color-background4: #EC8066;
    --color-background6: #7D402E;
}
